<html>
<head>
<title> CMS </title>
<style>
	* {font-size: 30px; }
	body {background: rgb(6,2,84);
	background: linear-gradient(153deg, rgba(6,2,84,1) 7%, rgba(6,199,175,1) 43%, rgba(15,221,237,1) 94%); }
	.nav {background-color:#c3fbf4; height:40px;}
	.nav a {color:navyblue;text-decoration:none;margin:2%;}
</style>
</head>
<body>
<center>
<div class="nav">
	{% if user.is_authenticated %}
		<a href="{% url 'tlogout' %}" > Logout </a>
	{% else %}
		<a href="{% url 'tlogin' %}" > Login </a>
		<a href="{% url 'tsignup' %}" > SignUp </a>
	{% endif %}
</div>
{% block content %}
{% endblock %}
</center>
</body>
</html>

